:root {
    --transistion-delay: 0.37s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    border: 2px solid black;
    padding: 20px;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.form .input-box {
    position: relative;
    padding: 20px;
}

.form .input-box input {
    background: transparent;
    padding: 5px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    transition: var(--transistion-delay) linear;
}

.form .input-box input:focus,
.form .input-box input:valid {
    padding: 15px 10px;
    background-color: rgb(117, 255, 149);
    margin-top: 10px;
}

.form .input-box input:focus ~ label,
.form .input-box input:valid ~ label {
    padding: 5px;
}

.form button {
    padding: 15px 10px;
    border-radius: 0;
    background-color: white;
    border: 1px solid black;
}

.form button:hover {
    background-color: gainsboro;
}

.form .input-box label {
    position: absolute;
    font-size: 18px;
    top: 0;
    left: 0;
    padding: 20px;
    transition: var(--transistion-delay) linear;
}
